version: 2

jobs:
  artifacts_test_results:
    docker:
      - image: python:3.6.0
    working_directory: ~/realitycheck
    steps:
      - checkout

      - run:
          name: Creating Dummy Artifacts
          command: |
            echo "my artifact file" > /tmp/artifact-1.txt;
            mkdir /tmp/artifacts;
            echo "my artifact files in a dir" > /tmp/artifacts/artifact-2.txt;

      - store_artifacts:
          path: /tmp/artifact-1.txt
          destination: artifact-file.txt

      - store_artifacts:
          path: /tmp/artifacts

      - store_test_results:
          path: test-results

  parallelism:
    docker:
      - image: python:3.6.0
    parallelism: 2
    working_directory: ~/realitycheck
    steps:
      - checkout
      - store_test_results:
          path: test-results
          
workflows:
  version: 2
  feature_jobs:
    jobs:
      - artifacts_test_results
      - parallelism


